@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
    --TITLE: #FFFFFF;
    --MAIN: #191F22;
    --SECOND: #212121;
    --LINE1:#BB6D1D;
    --LINE2:#E64A19;
    --TXTSEC:#757575;
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--MAIN);
}
header{
    width: 100%;
    color: var(--TITLE);
    background-color: var(--SECOND);
    font-family: 'Cabin';
    display: flex;
    justify-content: space-between;
    align-items: center;    
    position:fixed;
    top: 0;
    z-index: 1;
    padding: 45px 60px;
}
footer{
    width: 100%;
    height: 100px;
    color: var(--TITLE);
    background-color: var(--SECOND);
    font-family: 'Cabin';
    display: flex;
    justify-content: space-between;
    align-items: center;    
    bottom: 0;
    margin-top: 20px;
    padding: 45px 60px;    
}
.navigation{    
    gap:144px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.ht{
    font-size: 48px;
    font-weight: 400;
    margin: 0;
    background-color: var(--SECOND);
}
.hel{
font-size: 28px;
font-weight: 400;
color: var(--TITLE);
text-decoration: none;
}
.fel{
    font-size: 28px;
    font-weight: 400;
    color: var(--TXTSEC);

}

.Start{
    width: 100%;
    height: 790px;
    color: var(--TITLE);
    background-color: var(--TXTSEC);
    font-family: 'Cabin';
    display: flex;
    flex-direction: column;
}
.AboutMe{
    display: flex;
    flex-wrap: nowrap;
    margin: 40px 40px;
    justify-content: center;
    gap: 50px;
}
.Me{
    width: 735px;
    height: 860px;
    border-radius: 26px;
    color: var(--TITLE);
    background-color: var(--SECOND);
    font-family: 'Cabin';
    flex-direction: column;
}
.AboutMeImg{
    background-color: #BB6D1D;
    width: 735px;
    height: 860px;
    border-radius: 26px;
}
.MySkills{
    background-color: var(--SECOND);
    margin-top: 40px;
    padding: 16px 40px;
}
.Works{
    background-color: var(--SECOND);
    width: 100%;
    height: 900px;   
    display: flex;
    flex-wrap: nowrap;
    margin-top: 40px ;

}
.Reviews{
    background-color: var(--SECOND);
    width: 100%;
    height: 900px;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 40px ;
}
.Title{
    padding-top: 80px;
    padding-left: 30px;
    color: var(--TITLE);
    font-family: 'Bungee';
    font-size: 96px;
    font-weight: 400;
    transform: rotate(-1deg);
    width: fit-content;
}
.Title2{
    color: var(--TITLE);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Ubuntu';
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 5.4px;
    text-transform: uppercase;
    margin-left: 210px;
}
.Title3{
    color: var(--TITLE);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Ubuntu';
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 5.4px;
    text-transform: uppercase;
    text-align: center;
}
.Title4{
    color: var(--TITLE);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Ubuntu';
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 5.4px;
    text-transform: uppercase;
}
.amt{
    padding-left: 60px;
    font-size: 40px;
}

.amel-list {
    padding-left: 100px;
}

.amel{
    font-size: 38px;
    padding-top: 24px;
}

.skills_wrapper {
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 50px;
    row-gap: 25px;
}

.skill {
    background: var(--LINE2);
    border-radius: 20px;
    padding: 10px;
    color: var(--TITLE);
    font-family: 'Montserrat Medium';
    font-size: 34px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skill:nth-child(3n + 1) {
    grid-column: 1/2;
}

.skill:nth-child(3n) {
    grid-column: 2/3;
}

.skill:nth-child(3n + 2) {
    grid-column: 3/4;
}

.skills_other {
    display: flex;
    justify-content: center;
    gap: 100px;
    color: var(--TITLE);
    font-family: 'Montserrat Medium';
    font-size: 34px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skills_failed {
    margin: 60px 0;
    color: var(--TITLE);
    font-family: 'Montserrat Medium';
    font-size: 34px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: right;
}

.line {
    position: relative;
}

.line::before{
    content: '';
    background-color: var(--LINE2);
    display: block;
    width: 10px;
    height: 100%;
    position: absolute;
    margin-left: -20px;
}