@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
    --TITLE: #FFFFFF;
    --MAIN: #191F22;
    --SECOND: #212121;
    --LINE1:#BB6D1D;
    --LINE2:#E64A19;
    --TXTSEC:#757575;
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--MAIN);
}
header{
    z-index: 2;
    width: 100%;
    color: var(--TITLE);
    background-color: var(--SECOND);
    font-family: 'Cabin';
    display: flex;
    justify-content: space-between;
    align-items: center;    
    position:fixed;
    top: 0;
    padding: 45px 60px;
}
footer{
    width: 100%;
    height: 100px;
    color: var(--TITLE);
    background-color: var(--SECOND);
    font-family: 'Cabin';
    display: flex;
    justify-content: space-between;
    align-items: center;    
    bottom: 0;
    margin-top: 20px;
    padding: 45px 60px; 
    gap: 20px;   
}
.footnav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}
.navigation{    
    gap: 244px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.ht{
    font-size: 48px;
    font-weight: 400;
    margin: 0;
    background-color: var(--SECOND);
}
.hel{
font-size: 28px;
font-weight: 400;
color: var(--TITLE);
text-decoration: none;
}
.fel{
    font-size: 28px;
    font-weight: 400;
    color: var(--TXTSEC);

}

.Start{
    width: 100%;
    height: 790px;
    color: var(--TITLE);
    font-family: 'Cabin';
    display: flex;
    flex-direction: column;
    position: relative;
    background: #1f272f;
}
.js-background{
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
}

.AboutMe{
    display: flex;
    flex-wrap: nowrap;
    margin: 40px 40px;
    justify-content: center;
    gap: 50px;
}
.Me{
    width: 735px;
    height: 860px;
    border-radius: 26px;
    color: var(--TITLE);
    background-color: var(--SECOND);
    font-family: 'Cabin';
    flex-direction: column;
}
.AboutMeImg{
    background-color: #BB6D1D;
    width: 735px;
    height: 860px;
    border-radius: 26px;
}
.MySkills{
    background-color: var(--SECOND);
    margin-top: 40px;
    font-family: 'Cabin';
}
.Works{
    background-color: var(--SECOND);   
    margin-top: 40px ;
    font-family: 'Cabin';

}
.Works2{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    gap: 10%;
}
.Reviews{
    background-color: var(--LINE2);
    opacity: 0.92;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px ;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.Review{
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px 20px;
    font-family: 'Cabin';
    background-color: var(--TXTSEC);
    border-radius: 30px;
}
.Review2{
    margin-left: 49%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px 20px;
    font-family: 'Cabin';
    background-color: var(--TXTSEC);
    border-radius: 30px;   
}
.Title{
    padding-top: 80px;
    padding-left: 30px;
    color: var(--TITLE);
    font-family: 'Bungee';
    font-size: 96px;
    font-weight: 400;
    transform: rotate(-1deg);
    width: fit-content;
}
.Title2{
    color: var(--TITLE);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Ubuntu';
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 5.4px;
    text-transform: uppercase;
    margin-left: 210px;
}
.Title3{
    color: var(--TITLE);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Ubuntu';
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 5.4px;
    text-transform: uppercase;
    padding-left: 30px;
}
.Title4{
    color: var(--TITLE);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Ubuntu';
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 5.4px;
    text-transform: uppercase;
    padding-left: 40px;
}
.amt{
    padding-left: 60px;
    font-size: 40px;
}

.amel-list {
    padding-left: 100px;
}

.amel{
    font-size: 38px;
    padding-top: 24px;
}

.skills_wrapper {
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 50px;
    row-gap: 25px;
    font-family: 'Cabin';
}

.skill {
    background: var(--LINE2);
    border-radius: 20px;
    padding: 10px;
    color: var(--TITLE);
    font-family: 'Montserrat Medium';
    font-size: 34px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Cabin';
}

.skill:nth-child(3n + 1) {
    grid-column: 1/2;
}

.skill:nth-child(3n) {
    grid-column: 2/3;
}

.skill:nth-child(3n + 2) {
    grid-column: 3/4;
}

.skills_other {
    display: flex;
    justify-content: center;
    gap: 100px;
    color: var(--TITLE);
    font-family: 'Montserrat Medium';
    font-size: 34px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Cabin';
}

.skills_failed {
    margin: 60px 0;
    color: var(--TITLE);
    font-family: 'Montserrat Medium';
    font-size: 34px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: right;
    font-family: 'Cabin';
}

.line {
    position: relative;
}

.line::before{
    content: '';
    background-color: var(--LINE2);
    display: block;
    width: 10px;
    height: 100%;
    position: absolute;
    margin-left: -20px;
}
.bd1, .bd2, .bd3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bdel{
    color: var(--TITLE);
    font-size: 38px;
    padding-top: 24px;    
    font-family: 'Cabin';
    text-align: center;
}
.Works2 iframe {
    display: none;

}
.active iframe {
    position: fixed;
    display: block;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    z-index: 5;
}
.active.cross{
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    fill: white;
    stroke: #191F22;
    color: black;
    z-index: 6;
}
.active.cross:hover{
    fill: #191F22;
    stroke: none;
}
.cross{
    display: none;
}

.fimg{
    display: flex;
    gap: 30%;
}
.author{
    font-size: 46px;
    padding-left: 40px;
}
.comment{
    font-size: 32px;
    color: var(--TITLE);
    padding-left: 40x;
}
.link_name{
    position: relative;
    top: -150px;
}

.active{

}